 <div class="snap-drawers">
      <div class="snap-drawer snap-drawer-left">
          <div>
            <div id="header-region"></div>
						<div id="side-menu"></div>
          </div>
      </div>
  </div>

  <div id="content" class="snap-content">
      <div id="open-left" onclick="snapper.open('left');"></div>
      <div id="open-menu"></div>
			<div id="main-region" class="container"></div>
  </div>



<%= javascript_tag do %>
	$(function() {
		WI.start({
			currentUser: gon.user
		});
	});
<% end %>


  <%= javascript_tag do %>
        var snapper = new Snap({
            element: document.getElementById('content'),
						disable: 'right'
        });
  <% end %>
