
  <div id="wrap">
    <div id="header-region"></div>
      <div id="main-region" class="container"></div>
    </div>
  <div id="footer-region"></div>




<%= javascript_tag do %>
	$(function() {
		WI.start({
			currentUser: gon.user
		});
	});
<% end %>
